footer
	.scripts-area
	.row
		a.logo(href="/")
			img(src="/assets/img/logo_footer.svg" width="238" height="46" loading="lazy")

	.items
		.item
			ul
				li ООО «Модуль Констаркшн»
				li modconstruction@mail.ru
				li Тел: 
					a(href="tel:[[++tel1]]") 8 (029) 630 99 83
				li Тел: 
					a(href="tel:[[++tel2]]") 8 (044) 729 38 29
		.item
			ul
				li.rek
					a(href="#") Реквизиты
					img(src="/assets/img/icons/download.svg" width="24" height="24")
				li УНП 591825803
				li ОКПО 507190964000	
		.item
			ul
				li.blue Юридический адрес:
				li 231041, Гродненская обл.
				li г. Сморгонь, ул. Победы, д. 12	
		.item
			ul
				li Р/с BY62 AKBB 3012 0000 1976 3000 0000
				li в ОАО "АСБ БЕЛАРУСБАНК"
				li БИК: AKBBBY2X
	.rights
		span → powered by Ashaev
		a(href="https://ashaev.by" target="_blank")
			img(src="/assets/img/logo_ashaev.svg" width="31" height="31" loading="lazy")
		span © all rights reserved ←

	.social
		a(href="viber://chat/?number=%2B375447293829")
			img(src="/assets/img/icons/float/viber.svg" width="40" height="40" loading="lazy")
		a(href="https://api.whatsapp.com/send?phone=375447293829")
			img(src="/assets/img/icons/float/wa.svg" width="40" height="40" loading="lazy")
		a(href="https://t.me/+375447293829")
			img(src="/assets/img/icons/float/tg.svg" width="40" height="40" loading="lazy")



