article
	include ../../ui/bread.pug
	h1 О компании
	.content.mb1
		img(src="/assets/img/logo_large.svg" loading="lazy" width="609" height="130")
		.txt
			span.blue От идеи до реализации: надежные партнеры в инжиниринге
			p Компания <i class="blue">Module Construction</i> cпециализируется на решениях в области обработки, транспортировки, сортировки и фильтрации материалов, используемых в различных сферах промышленности. 
			p Мы также предлагаем продукцию, изготовленную на заказ в соответствии с конкретными потребностями наших клиентов. 
			p Мы стремимся быть универсальным поставщиком решений для клиентов из различных отраслей промышленности, стремясь к взаимовыгодному сотрудничеству в проектах.
			span.blue Собственное производство, готовые решения и по запросу заказчика