section.first(style="background-image: url(/assets/img/pages/index/bg1.webp)")
	.cnt
		img(src="/assets/img/logo_large.svg" loading="lazy" width="609" height="130")
		.txt
			span.blue От идеи до реализации: надежные партнеры в инжиниринге
			p Компания <i class="blue">Module Construction</i> cпециализируется на решениях в области обработки, транспортировки, сортировки и фильтрации материалов, используемых в различных сферах промышленности. 
			p Мы также предлагаем продукцию, изготовленную на заказ в соответствии с конкретными потребностями наших клиентов. 
			p Мы стремимся быть универсальным поставщиком решений для клиентов из различных отраслей промышленности, стремясь к взаимовыгодному сотрудничеству в проектах.
			span.blue Собственное производство, готовые решения и по запросу заказчика
		img.scroll(src="/assets/img/icons/scroll.svg" width="32" height="45")

section.area(style="background-image: url(/assets/img/pages/index/bg2.webp)")
	.cnt
		h2 <span class="blue">Области</span><br> применения
		ul
			li Горнодобывающая промышленность
			li Деревообрабатывающая промышленность
			li Коммунальное хозяйство и благоустройство
			li Аграрная промышленность
			li Химическая и пищевая промышленность
			li Блок-контейнеры

section.categories(style="background-image: url(/assets/img/pages/index/bg3.webp)")
	.cnt
		h2 <span class="blue">Категории</span><br> продукции
		ul
			li
				a(href="/category.html") Ленточные конвейеры
			li
				a(href="/category.html") Шнековые конвейеры и питатели
			li
				a(href="/category.html") Цепные скребковые транспортеры
			li
				a(href="/category.html") Рольганги и транспортные роликовые столы
			li
				a(href="/category.html") Шиберы и перекидные клапаны
			li
				a(href="/category.html") Роликовые и дисковые сепараторы
			li
				a(href="/category.html") Емкости и смесители
			li
				a(href="/category.html") Фильтрационные и дозирующие установки
			li
				a(href="/category.html") Системы хранения и разгрузки
			li
				a(href="/category.html") Мобильные блок-контейнеры
			li
				a(href="/category.html") Нестандартное оборудование
			li.all
				a(href="/category.html") Посмотреть все продукты
				img.arrow(src="/assets/img/icons/white_arrow.svg" width="24" height="24")
