section.first(style="background-image: url(/assets/img/pages/index/bg1.webp)")
	.cnt
		img.logo(src="/assets/img/logo_large.svg" loading="lazy" width="609" height="130")
		.txt
			span.blue От идеи до реализации: надежные партнеры в инжиниринге
			p Компания <i class="blue">Module Construction</i> cпециализируется на решениях в области обработки, транспортировки, сортировки и фильтрации материалов, используемых в различных сферах промышленности. 
			p Мы также предлагаем продукцию, изготовленную на заказ в соответствии с конкретными потребностями наших клиентов. 
			p Мы стремимся быть универсальным поставщиком решений для клиентов из различных отраслей промышленности, стремясь к взаимовыгодному сотрудничеству в проектах.
			span.blue Собственное производство, готовые решения и по запросу заказчика
		img.scroll(src="/assets/img/icons/scroll.svg" width="32" height="45")

section.area(style="background-image: url(/assets/img/pages/index/bg2.webp)")
	.cnt
		h2 <span class="blue">Области</span><br> применения
		ul
			li(resid="1") Горнодобывающая промышленность
			li(resid="2") Деревообрабатывающая промышленность
			li(resid="3") Коммунальное хозяйство и благоустройство
			li(resid="4") Аграрная промышленность
			li(resid="5") Химическая и пищевая промышленность
			li(resid="6") Блок-контейнеры

section.categories(style="background-image: url(/assets/img/pages/index/bg3.webp)")
	.cnt
		h2 <span class="blue">Категории</span><br> продукции
		ul
			li
				a(href="/category.html") Ленточные конвейеры
			li
				a(href="/category.html") Шнековые конвейеры и питатели
			li
				a(href="/category.html") Цепные скребковые транспортеры
			li
				a(href="/category.html") Рольганги и транспортные роликовые столы
			li
				a(href="/category.html") Шиберы и перекидные клапаны
			li
				a(href="/category.html") Роликовые и дисковые сепараторы
			li
				a(href="/category.html") Емкости и смесители
			li
				a(href="/category.html") Фильтрационные и дозирующие установки
			li
				a(href="/category.html") Системы хранения и разгрузки
			li
				a(href="/category.html") Мобильные блок-контейнеры
			li
				a(href="/category.html") Нестандартное оборудование
			li.all
				a(href="/category.html") Посмотреть все продукты
				img.arrow(src="/assets/img/icons/white_arrow.svg" width="24" height="24")

section.contacts
	.cnt
		h2 <span class="blue">Контакты</span><br>компании
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37088.241623489535!2d26.364136849648673!3d54.48031538200021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dc43b0c0d9ff15%3A0xaf5b90b7312cc549!2z0KHQvNC-0YDQs9C-0L3RjCwg0JPRgNC-0LTQvdC10L3RgdC60LDRjyDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sby!4v1716757401733!5m2!1sru!2sby" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
