header.home
	a.logo(href="/")
		img(src="/assets/img/logo.svg" width="330" height="34")
	ul.nav
		li
			.head
				span Продукция
				button
					<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5 5.5L0 0.5H10L5 5.5Z" fill="#DCEFFF" />
					</svg>
		li
			a(href="/about.html") О компании
		li
			a(href="/contacts.html") Контакты
		li
			a(href="tel:[[++tel1]]") +375 29 630 99 83
		li
			a(href="tel:[[++tel2]]") +375 44 729 38 29