article
	include ../../ui/bread
	h1 Контакты
	.content.mb1
		.left
			ul
				li ООО «Модуль Констаркшн»
				li modconstruction@mail.ru
				li Тел: 
					a(href="tel:[[++tel1]]") 8 (029) 630 99 83
				li Тел: 
					a(href="tel:[[++tel2]]") Тел: 8 (044) 729 38 29
			ul
				li.rek
					a(href="#")
						span Реквизиты
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<mask id="mask0_55_996" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
								<rect width="24" height="24" fill="#D9D9D9" />
							</mask>
							<g mask="url(#mask0_55_996)">
								<path d="M12 16L7 11L8.4 9.55L11 12.15V4H13V12.15L15.6 9.55L17 11L12 16ZM6 20C5.45 20 4.97917 19.8042 4.5875 19.4125C4.19583 19.0208 4 18.55 4 18V15H6V18H18V15H20V18C20 18.55 19.8042 19.0208 19.4125 19.4125C19.0208 19.8042 18.55 20 18 20H6Z" fill="#33A2FF" />
							</g>
						</svg>
				li УНП 591825803
				li ОКПО 507190964000

			ul
				li.blue Юридический адрес:
				li 231041, Гродненская обл.
				li г. Сморгонь, ул. Победы, д. 12

			ul
				li Р/с BY62 AKBB 3012 0000 1976 3000 0000
				li в ОАО "АСБ БЕЛАРУСБАНК"
				li БИК: AKBBBY2X			

		.right
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37088.241623489535!2d26.364136849648673!3d54.48031538200021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dc43b0c0d9ff15%3A0xaf5b90b7312cc549!2z0KHQvNC-0YDQs9C-0L3RjCwg0JPRgNC-0LTQvdC10L3RgdC60LDRjyDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sby!4v1716757401733!5m2!1sru!2sby" width="100%" height="520" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>