article
	include ../../ui/bread
	h1 Системы хранения и разгрузки
	img.hero(src="/assets/img/pages/category/hero.jpg")
	section
		.content
			p Системы бестарного хранения сыпучих продуктов широко распространены в&nbsp;различных отраслях промышленности. Силосы и&nbsp;бункеры позволяют автоматизировать производство, минимизировать потери сырья при разгрузке и&nbsp;перемещении внутри цехов, обеспечить качество и&nbsp;соблюдение требуемых условий хранения, освободить и&nbsp;рационально использовать свободную площадь производства.
			p Силос устанавливается на&nbsp;рамную конструкцию, изготовленной из&nbsp;стали, а&nbsp;материал самого бункера может быть изготовлен из&nbsp;различных материалов. Силос может быть дополнительно оборудован виброднищем, фильтрами и&nbsp;шлюзовым питателем, который предназначен для дальнейшей транспортировки сырья в&nbsp;производство.
			.gallery.fake-masonry
				img(src="/assets/img/pages/category/gallery/01.jpg")
				img(src="/assets/img/pages/category/gallery/02.jpg")
				img(src="/assets/img/pages/category/gallery/03.jpg")
		aside
			h3 Продукция
			ul
				li
					a(href="/category.html")
						img(src="/assets/img/pages/category/aside/01.jpg" width="60" height="60")
						span Ленточные конвейеры
				li
					a(href="/category.html")
						img(src="/assets/img/pages/category/aside/02.jpg" width="60" height="60")
						span Шнековые конвейеры и питатели
				li
					a(href="/category.html")
						img(src="/assets/img/pages/category/aside/03.jpg" width="60" height="60")
						span Цепные скребковые транспортеры
				
				li
					a(href="/category.html")
						img(src="/assets/img/pages/category/aside/03.jpg" width="60" height="60")
						span Рольганги и транспортные роликовые столы
	form.cb.mb1
		.left
			h3 <span class="blue">Форма</span> обратной связи
			label
				input(type="text" name="name" required)
				span Ваше имя
			label
				input(type="tel" name="phone" required)
				span Ваш телефон
			.how
				span.head Как с вами связаться?
				ul
					li
						label
							input(type="checkbox" name="cb" checked)
							span.s
							span.l Перезвонить	
					li
						label
							input(type="checkbox" name="viber")
							span.s
							span.l Viber	
					li
						label
							input(type="checkbox" name="wa")
							span.s
							span.l WhatsApp
		.right
			textarea(placeholder="Текст сообщения")
			button(type="submit") Отправить