article
	include ../../ui/bread
	h1 Системы хранения и разгрузки
	img.hero(src="/assets/img/pages/category/hero.jpg")
	section
		.content
			p Системы бестарного хранения сыпучих продуктов широко распространены в&nbsp;различных отраслях промышленности. Силосы и&nbsp;бункеры позволяют автоматизировать производство, минимизировать потери сырья при разгрузке и&nbsp;перемещении внутри цехов, обеспечить качество и&nbsp;соблюдение требуемых условий хранения, освободить и&nbsp;рационально использовать свободную площадь производства.
			p Силос устанавливается на&nbsp;рамную конструкцию, изготовленной из&nbsp;стали, а&nbsp;материал самого бункера может быть изготовлен из&nbsp;различных материалов. Силос может быть дополнительно оборудован виброднищем, фильтрами и&nbsp;шлюзовым питателем, который предназначен для дальнейшей транспортировки сырья в&nbsp;производство.
			.gallery.fake-masonry
				img(src="/assets/img/pages/category/gallery/01.jpg")
				img(src="/assets/img/pages/category/gallery/02.jpg")
				img(src="/assets/img/pages/category/gallery/03.jpg")
		aside
