#fullpage
	.section.first.lazyload(data-bgset="/assets/img/pages/index/bg1m.webp [(max-width: 480px)] | /assets/img/pages/index/bg1.webp")
		include ../../ui/header
		.cnt
			img.logo(src="/assets/img/logo_large.svg" loading="lazy" width="609" height="130")
			.txt
				span.blue От идеи до реализации: надежные партнеры в инжиниринге
				p Компания <i class="blue">Module Construction</i> cпециализируется на решениях в области обработки, транспортировки, сортировки и фильтрации материалов, используемых в различных сферах промышленности. 
				p Мы также предлагаем продукцию, изготовленную на заказ в соответствии с конкретными потребностями наших клиентов. 
				p Мы стремимся быть универсальным поставщиком решений для клиентов из различных отраслей промышленности, стремясь к взаимовыгодному сотрудничеству в проектах.
				span.blue Собственное производство, готовые решения и по запросу заказчика
			img.scroll(src="/assets/img/icons/scroll.svg" width="32" height="45")

	.section
		h2 section 2
	.section
		h3 section 3