
block variables

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title #{title}
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(src="/vendors/lazy/ls.bgset.min.js")
		script(src="/vendors/lazy/lazysizes.min.js")
		script(src="/vendors/fullpage/fullpage.min.js")
		link(rel="stylesheet", href="/vendors/fullpage/fullpage.min.css")


		link(rel="preload" as="font" type="font/woff2" href="/assets/fonts/Inter-Regular.woff2" crossorigin)
		link(rel="preload" as="font" type="font/woff2" href="/assets/fonts/Inter-Medium.woff2" crossorigin)
		
		block head

	body(class=pageClass)
		.wrapper
			//include ../../ui/header
			include ./content
			//include ../../ui/footer
