article
	include ../../ui/bread
	h1 Категории
	ul.mb1
		li
			img(src="/assets/img/pages/categories/01.jpg" width="326" height="195")
			.dsc
				a(href="/category.html") Ленточные конвейера
				span.dsc Ленточные конвейеры являются наиболее эффективным решением для транспортировки материала на большие расстояния.
		li
			img(src="/assets/img/pages/categories/02.jpg" width="326" height="195")
			.dsc
				a(href="/category.html") Шнековые транспортеры
				span.dsc Наши шнеки разработаны для каждого проекта: диаметр спирали от 200 до 1200 мм, длина от 2 до 10 м.
		li
			img(src="/assets/img/pages/categories/01.jpg" width="326" height="195")
			.dsc
				a(href="/category.html") Цепные ковейера
				span.dsc Скребковый цепной конвейер предназначен для транспортировки насыпных грузов в высоконагруженных и тяжелых условиях производства
		li
			img(src="/assets/img/pages/categories/01.jpg" width="326" height="195")
			.dsc
				a(href="/category.html") Ленточные конвейера
				span.dsc Ленточные конвейеры являются наиболее эффективным решением для транспортировки материала на большие расстояния.	